.body {
    background: white;
}

.myform {
    max-width: 350px;
    padding: 80px 30px 30px;
    margin: 50px auto 30px;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    background-color: white;
    height: 460px;
    width: 400px;
    background-color: skyblue;
}

.myform h1 {
    position: relative;
    color: black;
    font-size: 30px;
    font-weight: normal;
    border: 2px;
}

.formRegistrazione {
    position: relative;
    margin-bottom: 40px;
    background-color: skyblue;
    color: black;
}

#linkRegistrazione {
    font-size: 0.85em;
}

#divTestuali {
    border: solid;
    border-radius: 5px;
    background-color: cornflowerblue;
    border-color: rgb(80, 119, 190);
}

.formRegistrazione input {
    display: block;
    padding: 0 10px;
    line-height: 40px;
    background: none;
    border: 2px;
    border-width: 0;
    border-bottom: 2px solid black;
    height: 40px;
}

.formInvio input[type="submit"] {
    width: 100%;
    padding: 0;
    background: white;
    border-width: 0;
    color: black;
    font-size: 20px;
}