#datiAreaPersonale {
    background-color: #eeeeee;
    width: 100%;
}

.casellaDati {
    display: inline-block;
}

.etichetta {
    display: inline-block;
    margin-bottom: 5%;
    margin-top: 5%;
}

#logut {
    background-color: rgb(163, 163, 163);
    border: solid rgb(80, 80, 80);
    border-radius: 3px;
    text-align: center;
}

#modificaDati {
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: rgb(163, 163, 163);
    border: solid rgb(80, 80, 80);
    border-radius: 3px;
    text-align: center;
}


/* #colonnaDatiDestra {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
    width: 40%;
}

#colonnaDatiSinistra {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    width: 40%;
} */