    body {
        overflow-x: hidden;
        margin: auto;
        background-image: url("../img/sfondoTombola.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #titoloGioco {
        width: 30%;
        margin-left: 39%;
    }
    
    .freccia {
        display: inline-block;
    }
    
    #contenitorePremi {
        border-radius: 5px;
        background-color: grey;
        width: 80%;
        margin-left: 10%;
        height: 40%;
        margin-top: 10%;
    }
    
    .premioDestra {
        background-color: greenyellow;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 1em;
        border-radius: 5px;
        font-size: 1vw;
    }
    
    #esito {
        text-align: center;
        font-size: 5em;
    }
    
    #cerchioRiscatta {
        margin-top: -20%;
        height: 8vw;
        line-height: 8vw;
        border-radius: 100%;
        font-size: 1.25vw;
        border: solid grey 3px;
        color: #fff;
        text-align: center;
        background: orange;
    }
    
    #finePartita {
        display: none;
        position: absolute;
        top: 20%;
        left: 25%;
        width: 50%;
        height: 60%;
        background-color: yellow;
        border-radius: 60px;
    }
    
    .premioSinistra {
        background-color: greenyellow;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 1em;
        border-radius: 5px;
        font-size: 1vw;
    }
    
    #stringaVincitore {
        font-size: 2em;
        text-align: center;
    }
    
    #tabellaRisulatatiFinali {
        width: 80%;
        margin-top: 5%;
        background-color: grey;
    }
    
    #buttonTornaMenu {
        margin-top: 5%;
    }
    
    .rigaClassifica {
        border-collapse: collapse;
        padding: 0;
        margin-top: -0.5vw;
    }
    
    th {
        text-align: center;
        font-size: 1vw;
        border: solid 1px;
    }
    
    #classificaTempoReale {
        width: 100%;
        height: auto;
        margin-top: -12%;
        background-color: grey;
    }
    
    .cellaClassifica {
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        font-size: 0.75vw;
        border: solid 1px black;
        background-color: grey;
        display: inline-block;
    }
    
    #tornaMenu {
        background-color: orange;
    }
    
    #log {
        display: none;
        position: absolute;
        left: 29%;
        width: 38.5%;
        height: 6vw;
        bottom: 1vw;
        background-color: lightblue;
        overflow-y: scroll;
    }
    
    #sezionePronto {
        border-radius: 10px;
        margin-top: 10%;
        display: inline-block;
        background-color: rgb(195, 155, 119);
    }
    
    #pulsantePronto {
        width: 5vw;
        height: 5vw;
        background-color: greenyellow;
        border-radius: 50%;
        margin-bottom: 5%;
        font-size: 1vw;
    }
    
    #tombolone {
        width: 100%;
        background-image: url("../img/jade-puzzle-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
    }
    
    .pulsanteMenu {
        height: 3em;
        background-color: red;
        color: white;
    }
    
    #spaziaturaMenu {
        margin-left: 30%;
        margin-top: 5%;
    }
    
    #usernameSchedaGiocatore {
        display: inline-block;
        width: 80%;
        text-align: center;
        font-size: 25px;
    }
    
    #logoCentrale {
        margin-left: 25%;
        width: 50%;
        height: auto;
    }
    
    .menuGioco {
        width: 50%;
        left: 32.5%;
        position: absolute;
        height: auto;
        width: auto;
        margin-top: -8em;
    }
    
    #menuPrePartita {
        display: none;
    }
    
    .contenitoreSchedine {
        display: inline-block;
    }
    
    .contenitoreSchedineDestra {
        float: right;
    }
    
    .blink_me {
        animation: blinker 1s linear infinite;
    }
    
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    
    #contenitoreTabellone {
        margin-left: 2vw;
        display: inline-block;
        background-color: rgb(71, 180, 38);
        border-radius: 10px;
    }
    
    #schedaGiocatore {
        margin-right: -10vw;
        background-color: rgb(71, 180, 38);
        border-radius: 10px;
        float: right;
    }
    
    #tavoloSchedine {
        margin-left: -6vw;
        margin-right: 2vw;
        display: inline-block;
    }
    
    #pagina {
        background-color: green;
        width: 100%;
    }
    
    #tabellone {
        background-color: orange;
        text-align: center;
        border-radius: 10px;
        margin-top: 5%;
    }
    
    .cella {
        width: 9%;
        height: 30%;
        background-color: white;
        display: inline-block;
        text-align: center;
        display: inline-block;
    }
    
    .coperchio {
        background-color: grey;
        width: 9%;
        height: 1.6vw;
        margin-left: 2%;
        display: inline-block;
        opacity: 0.80;
    }
    
    #bottonePremi {
        margin-top: 1%;
        margin-bottom: 1%;
        display: none;
        width: 10%;
        height: 5%;
        margin-left: 45%;
        background-color: orange;
    }
    
    #pulsanteEstrai {
        background-color: orange;
        border-radius: 50%;
        line-height: 7vw;
        height: 7vw;
        font-size: 1vw;
        margin-bottom: 3%;
    }
    
    #contenuto {
        margin-left: 40%;
        margin-top: 10em;
        width: fit-content;
    }
    
    .cellaTabellone {
        display: inline-block;
        background-color: orange;
        border-radius: 5px;
        text-align: center;
        width: 7%;
        margin-right: 2%;
        margin-left: 1%;
        margin-top: 2%;
        margin-bottom: 1%;
        font-size: 1vw;
    }
    
    .cellaSchedina {
        height: 1.5vw;
        width: 9%;
        margin-left: 2%;
        background-color: white;
        display: inline-block;
        text-align: center;
        margin-bottom: 2%;
        font-size: 1vw;
    }
    
    .schedina {
        padding-top: 2%;
        background-color: orange;
        text-align: center;
        margin-bottom: 5px;
    }
    
    .rigaSchedina {
        margin-bottom: 0px;
    }
    
    .rigaCoperchio {
        position: relative;
        margin-bottom: -0.1vw;
    }
    
    #numeroEstratto {
        width: 20%;
        height: 3em;
        border-radius: 5px;
        background-color: orange;
        line-height: 1em;
        padding-top: 1em;
        margin-top: 1em;
        text-align: center;
        margin-left: 40%;
        color: white;
    }
    
    .myform {
        text-align: center;
        border-radius: 20px;
        background-color: white;
        background-color: blue;
        border: solid 10px;
        border-color: grey;
        color: white;
        margin-top: -8em;
    }
    
    .myform h1 {
        position: relative;
        margin: 0 0 60px;
        text-align: center;
        color: black;
        font-size: 30px;
        font-weight: normal;
        border: 2px;
        background-color: grey;
    }